@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: auto;
    margin: 0 -15px 0 auto;
}

body {
    font-family: Roboto, sans-serif;
}

/* First part of the website */
.wrapper_first {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    
}
.bkgimg{
    background-image: url(https://cdn.pixabay.com/photo/2017/03/05/21/43/planet-2120004__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navbar*/

.navbar{
    background-color: black;
    border-radius: 30px;
    margin: 3rem;


}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float:right;
    list-style: none;
    margin: 13px 20px;

}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
    color: red
}
.navbar input{
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}
.navbar input:hover{
    background-color: #6B7A8F;
}
.navbar button{
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}
.navbar button:hover{
    background-color: #6B7A8F;
}

#top{
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-size: 40px;
    color: #e58436;
    padding-bottom: 3rem;
    /*text-decoration-line: underline;
    text-underline-offset: 15px;*/
}

ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #F9FAF8;
}

nav ul {
    color: white;
    font-size: 18px;
}
/* Box in the first part */
#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

#hero-left h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding-left: 5rem;
}

#hero-left p {
    color: white;
    font-size: 18px;
    margin-top: 2px;
    padding-left: 5rem;
}

#hero-right {
    display: flex;
    padding: 1rem 5rem 7rem
    
}

#hero-right img {
    flex: 1;
    object-fit: cover;
    max-height: calc(1rem+200px);
    border-radius: 7px;
    
  }

#btn {
    background-color: #F7882F;
    color: white;
    border-radius: 7px;
    border-color: #F7882F;
    font-size: 18px;
    font-weight: bold;
    padding-inline: 2rem;
    padding-block: 7px;
    outline: none;
    margin: 1rem 5rem;

        
}

#hero-left,
#hero-right {
    flex: 1 1 0;
}

/* Second part */
.wrapper_second {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 1rem 9rem 7rem;
}

h2 {
    font-family: "Times New Roman", sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 70px;
}

.info {
    font-style: italic;
    max-width: 250px;
    height: auto;
}
.info:hover{
    transform: scale(1.5);
}

.center {
   
}

/* Third part */

.wrapper_third {
    display: flex;
    flex-direction: column;
    /*padding: 7rem 9rem 7rem;*/
}
#bgimg{
    background-image: url(https://cdn.pixabay.com/photo/2013/08/28/12/03/plumage-176723_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }

h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: left;
    color: #f2f3f5;
    padding: 7rem 7rem 1rem;
}

.wrapper_third p {
    text-align: right;
    font-size: 20px;
    font-weight: bolder;
    color: #f2f3f5;
    padding: 1rem 15rem 3rem;

}

/*Fourth part*/

.wrapper_fourth {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem 3rem;
    
}

#box {
    background-color: #F7882F;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    flex: 1;


    }

h4 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    padding: 2rem 5rem 0rem;
}

#box p {
    font-size: 16px;
    margin-top: 0;
    padding: 0rem 5rem 1rem;
}

#signup2 {
    display: flex;
    background-color: #c5e78b;
    font-size: 16px;
    color: black;
    font-weight: bolder;
    border-color: #c5e78b;
    border: solid #c5e78b;
    outline: none;
    border-radius: 7px;
    padding-inline: 2rem;
    padding-block: 7px;
}

/*Footer*/
footer {
    background-color: #6B7A8F;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 1rem 3rem 1rem;
}
